<h1>Configure your cookie with us!</h1>

<div id="selection">
    {{#if (falsy cookie.base)}}
        {{> base-selector}}
    {{/if}}
    <h2>Click to select a cookie addons:</h2>
    {{#each addons}}
         <!-- remove addons that had been added before -->
            <a class="config" href="/config/select-addons/{{this.[0]}}">
            <li class="li-conf {{#if (isInArray @root.cookie.addons this.[0])}}config-disable{{/if}}">{{this.[0]}} for {{pricify this.[1]}} PLN</li>
        </a>
    {{/each}}
</div>

{{#if (falsy cookie.base)}}
    {{> cookie-prev}}
    {{> addons noDeleteBtn=true}}
    <li id="li-config" style="max-width: 30%">
    <a id="order-a" href="/order/summary" class="config" style="color: black"><img id="basket-img" src="/images/cart.png" alt="">Order Now!</a>
    </li>
{{else}}
    <h3><strong>Please select base of your cookie to see preview and price summary</strong></h3>
    <div id="selection">
        {{> base-selector}}
    </div>
{{/if}}
