<h1>Your order summary</h1>
{{> addons noDeleteBtn=false}}
<li id="li-config" style="max-width: 30%">
    <a id="order-a" href="/order/thanks" class="config" style="color: black"><img id="basket-img" src="/images/cart.png" alt="">Pay for your order</a>
    {{> cookie-prev}}
</li>

