<h1>Thanks for your order !</h1>
<div style="text-align: center" class="success">
<p> Your total cost is {{pricify sum}} PLN. We are processing your payment!</p>
</div>
<script>
    setTimeout(function () {
        // after 2 seconds
        window.location = "/";
    }, 2000)
</script>