<h2>Hall-of-Fame</h2>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Wins:</th>
        <th>Name:</th>
    </tr>
    </thead>
    <tbody>
    {{#each warriors}}
        <tr>
            <th>
                {{this.place}}
            </th>
            <td>
                {{this.warrior.wins}}
            </td>
            <td>
                {{this.warrior.name}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>