li {
    border: 1px solid black;
    margin-bottom: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    transition: background-color 0.5s;
    cursor: pointer;
}

li:hover {
    background-color: lightgray;
}

li img {
    height: 90px;
    /*width: 50px;*/
    border-radius: 50%;
    margin: 30px;
}

li p {

    margin: 10px;
}