.Dialog__container {
    width: 80%;
    max-width: 800px;
    margin: 15px auto;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.Dialog__title {
    padding: 5px 15px;
    background-color: #efefef;
    font-size: 80%;
    font-weight: bold;
}

.Dialog__content {
    padding: 15px;
}