<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista Świętego Mikołaja</title>
</head>
<body>
<h1>Lista Świętego Mikołaja</h1>
<ul>
    <li><a href="/child">Dzieci</a></li>
    <li><a href="/gift">Prezenty</a></li>
</ul>
<hr>
{{{body}}}
</body>
</html>
