#result {
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    text-align: center;
}

p {
    text-align: center;
    padding: 10px;
    color: blue;
}

#btn {
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

button {
    font-size: 15px;

}
