<h1 style="text-align: center">You have edited your task:</h1>
<h3 style="text-align: center">' {{title}} '</h3>
{{#if timeToGo}}
    <h4 style="text-align: center">'Task date: {{timeToGo}}</h4>
{{/if}}
<p style=" text-align: center">ID number: {{id}}</p>
{{> go-home}}