<h1>Configure your cookie</h1>

<h2>Select cookie base</h2>

{{> base-selector}}

<h2>Select your favorite addons</h2>

{{#each allAddons}}
    <a href="/configurator/add-addon/{{this.[0]}}" class="btn {{#if (isInArray @root.cookie.addons this.[0])}}btn-disabled{{/if}}">Add {{this.[0]}} for {{this.[1]}} PLN</a>
{{/each}}

{{#if cookie.base}}
    {{> cookie-preview}}
    {{> addons}}
    <a href="/order/summary" class="btn btn-big"><img src="/assets/images/shopping-cart.png" class="cart-img" alt=""> Order now!</a>
{{else}}
    <div class="error">
        <p><strong>Please select base of your cookie to se it's preview and price summary.</strong></p>
        <p>{{> base-selector}}</p>
    </div>
{{/if}}
