<h2>Lista prezentów</h2>
<ul>
    {{#each giftsList}}
        <li>
            {{this.name}} ({{this.count}} szt.)
        </li>
    {{/each}}
</ul>

<h2>Dodaj prezent do listy</h2>
<form action="/gift" method="POST">
    <label>
        Nazwa
        <input name="name" type="text">
    </label>
    <label>
        Ilość [szt.]
        <input name="count" type="number">
    </label>
    <button>Dodaj</button>
</form>
