.BtcPrice__container {
    width: 15%;
    height: 20%;
    min-height: 150px;
    min-width: 150px;
    border: 1px solid #282828;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.BtcPrice__container p {
    padding: 0;
    margin: 10px;
}