<h2>Lista dzieci</h2>
<ul>
    {{#each childrenList}}
        <li>
            <form action="/child/gift/{{this.id}}?_method=PATCH" method="POST">
                <label>
                    {{this.name}}
                    <select name="giftId">
                        <option value="">Brak</option>
                        {{#each ../giftsList}}
                            <option value="{{this.id}}" {{#if (equals this.id ../giftId)}}selected="selected"{{/if}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </label>
                <button>Zapisz</button>
            </form>
        </li>
    {{/each}}
</ul>

<h2>Dodaj dziecko do listy</h2>
<form action="/child" method="POST">
    <label>
        Imię
        <input name="name" type="text">
    </label>
    <button>Dodaj</button>
</form>
