<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Warrior Arena</title>
</head>
<body>
<header>
    <h1>Warrior Arena</h1>
    <ul>
        <a href="/warrior/add-form">Register new warrior</a>
    </ul>
    <ul>
        <a href="/arena/fight-form">Fight Arena</a>
    </ul>
    <ul>
        <a href="/hall-of-fame/">Hall of Fame</a>
    </ul>
</header>
{{{body}}}
</body>
</html>