a {
    margin: 50px;
    text-decoration: none;
}

.links {
    margin: 40px;
    padding: 50px 0;
    border-style: dashed;
    text-align: center;
}

h1, p {
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 30px;
}

input {
    margin-top: 3px;
}

.alertDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 35px;
    margin: 0 auto;
    text-align: center;
}